_trash/
_create/
_backup/
*.txt
*.docx
.github/workflows/develop.yml
*.sql
*.zip
/wp-content/updraft/
/wp-content/cache/

# Configuration
wp-config.php

# Uploads
/wp-content/uploads/
/wp-content/uploads

# Log files
*.log

# htaccess
/.htaccess

# End of https://www.toptal.com/developers/gitignore/api/wordpress
wp-content/advanced-cache.php
/wp-config.php
wp-content/wp-rocket-config/index.html
wp-content/wp-rocket-config/localhost.xampp.foco.php
wp-content/wp-rocket-config/dynamic-lists.json
